.app-header{
  position : fixed;
  right: 0;
  height: 100px;

  .menubar{
    list-style-type: none;
    padding-right: 30px;
    li{
      float:left;
    }
  }
}

.app-body{
  position: absolute;
  top: 100px;
}
